spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    # local docker db
    url: ENC(DPvTlKCZniOLZz5QHwB2I1p6FbeyEhWeo6DXSHL7kq8idfthgqkC/VJX78osBC5D/hzFwdXGDkxWUZ2euYPrAA==)
    username: ENC(izKjVNL/2x4aTDQeLxQg4VU0v5kAKduTrnVq7LUa80U=)
    password: ENC(VcPYkEOg9OzuwNw1UeYOgLqKsRkFoRUHwjRcxZzGgZQ=)
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: false
    #JPA보다 flyway 우선 실행
    autoconfigure:
      exclude: org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

  mail:
    host: smtp.gmail.com
    username: ENC(TEY+McqfBOprewh0EpDJIclJKk8o+bY/0CWpPynWeylc/HNeWGSI6Q==)
    password: ENC(gAVZp58ZhI0MCJcvKFhB0lVNYPtMg35QIslSCJhu2pJB4ck+w1vscA==)
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          starttls:
            enable: true
          timeout: 5000
          writetimeout: 5000

  data:
    redis:
      port: 6379
      lettuce:
        pool:
          max-active: 20
          max-idle: 20
      host: 127.0.0.1
      password: wash1234

jasypt:
  encryptor:
    algorithm: PBEWithMD5AndTripleDES

logging:
  file:
    path: ./logs/api/
    name: local-api-log
  logback:
    rollingpolicy:
      max-history: 14
      max-file-size: 50MB
      total-size-cap: 5GB

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

constants:
  host-url: "http://localhost:8080"
  password-reset-token:
    duration-minute: 5

aws:
  credentials:
    access-key-id: ENC(vx2H0E5tIohXqzynDez9M7Kn3Vjj0t3sS3Wq6uyN5kgYeXhDyIylOA==)
    secret-access-key: ENC(m/2qCJve4UP86W7Q0ZQhKSDGBnltnbGOnso7d/9wiNovq1Mzyto608rUnCQ+AhqUThpClK1cmxSOj6WHfAbZTQ==)
  s3:
    bucket: ENC(JQIi11b8LB+99FnX02wCGwdXTOEax3VkuzgNqAVshK4=)