spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    # local docker db
    url: ENC(DPvTlKCZniOLZz5QHwB2I1p6FbeyEhWeo6DXSHL7kq8idfthgqkC/VJX78osBC5D/hzFwdXGDkxWUZ2euYPrAA==)
    username: ENC(izKjVNL/2x4aTDQeLxQg4VU0v5kAKduTrnVq7LUa80U=)
    password: ENC(VcPYkEOg9OzuwNw1UeYOgLqKsRkFoRUHwjRcxZzGgZQ=)
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    #JPA보다 flyway 우선 실행
    autoconfigure:
      exclude: org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

logging:
  file:
    path: ./logs/api/
    name: api-log
  logback:
    rollingpolicy:
      max-history: 14
      max-file-size: 50MB
      total-size-cap: 5GB