spring:
  profiles:
    active: local
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 500MB
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

server:
  port: 8082

